body
{
    height: 1000;
    text-align: center;
}
.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
header
{
    height:25%;
    display: flex;
 justify-content: center;

}
#logo
{
   height: 80%;
  width: 100%;
   margin-bottom: 5%;
}

nav,a
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    text-align:center;
    margin-top: 10px;
    position: sticky;
}

a
{
    text-decoration: none;
    margin: 1%;
}

a:hover
{
opacity: 70%;
letter-spacing: 3px;
}


#a1,#a3,#a5
{
  color: blue;
}

#a2,#a4,#a6
{
  color:deepskyblue;
}
#a1
{
border-bottom: 3px;
border-bottom: blue;
border-bottom: solid;
}
section
{
height:200px;
}

.link
{
  color: blue; 
}

figure a
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  color: blue;

}   

#link1
{
  height:80%;
  margin: 3%;
  
  
}

#link2
{
  height: 80%;
  margin: 3%;
  
}

#link3
{
  height:80%;
  margin: 3%;

}

section
{
  display: flex;
  justify-content: center;
flex-wrap: wrap;
}

@keyframes op
{
    from{opacity: 100%;}
      to{opacity: 60%;}
}
footer
{
    animation-name: op;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
#mogan
{
  height: 70%;
}



@keyframes mogan
{
   from{transform: rotate(360deg);}
    to{transform: rotate(720deg);}
}

#mogan
{
    animation-name: mogan;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#img
{
  width:35%;
}


@media screen  and (max-width: 750px) 
{ 
#link1,#link2,#link3
{
height: 156px
}

#mogan,#img
{
display: none;
}
}




