#a1
{
border-bottom: 3px;
border-bottom:white;
border-bottom: none;
}
#a6
{
border-bottom: 3px;
border-bottom: blue;
border-bottom: solid;
}

h1 
{
    color:deepskyblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:400%;
}
p{
    color: dimgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
}

nav {
    position: sticky;
}

section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@keyframes op
{
    from{opacity: 100%;}
      to{opacity: 60%;}
}
footer
{
    animation-name: op;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
#img
{
    width: 35%;
}
body
{
    background-image: url(../img/מאטורף\ 2.png) ;
    background-repeat: no-repeat;
    background-size: cover;

}