p,h4,h5
{
    font-family: Arial, Helvetica, sans-serif;
}
#a2
{
border-bottom: 3px;
border-bottom: blue;
border-bottom: solid;
}
#a1
{
border-bottom: 3px;
border-bottom: blue;
border-bottom: none;
}

section
{
    display: block;
}

h3,h1
{
color:blue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2
{
color:dimgray;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label
{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
a{
    color: blue;
}

@keyframes op
{
    from{opacity: 100%;}
      to{opacity: 60%;}
}
footer
{
    animation-name: op;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
#img
{
    width: 35%;
}

button
{
    background-color:blanchedalmond;
    border: 5px,white,solid;
}

#send
{
    width: 10%;
    height:20%;
}