#a3
{
border-bottom: 3px;
border-bottom: blue;
border-bottom: solid;
}
#a1
{
border-bottom: 3px;
border-bottom: blue;
border-bottom: none;
}

@keyframes op
{
    from{opacity: 100%;}
      to{opacity: 60%;}
}
footer
{
    animation-name: op;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

video
{
    height: 100%;
    /* float: right; */
    margin: 3%;
    float: right;
}

h1,h2
{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

section
{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

