
#a4
{
border-bottom: 3px;
border-bottom: blue;
border-bottom: solid;
}
#a1
{
border-bottom: 3px;
border-bottom: blue;
border-bottom: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



header img {
  width: 100%;
  height: auto;
}

h2,h1 {
  color: blue;
  text-align: center;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #007BFF;
  color: #fff;
  font-weight: bold;
}

td {
  background-color: #f9f9f9;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th, td {
  width: 25%;
}


@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
      display: block;
  }

  th {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }

  td {
      border: none;
      position: relative;
      padding-left: 50%;
      text-align: right;
  }

  td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 10px;
      font-weight: bold;
      text-align: right;
  }
}

footer {
  margin-top: 30%;
  text-align: center;
}

footer img {
  width: 100px;
  height: auto;
}

@keyframes op {
  from { opacity: 100%; }
  to { opacity: 60%; }
}

footer {
  animation-name: op;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


button {
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.delete {
  background-color: #f44336;
  color: white;
}

button.update {
  background-color: #4CAF50;
  color: white;
}

